certifi==2018.10.15
chardet==3.0.4
Django==2.1
django-crispy-forms==1.7.2
idna==2.7
Pillow==5.2.0
pytz==2018.5
requests==2.19.1
urllib3==1.23
dj-database-url==0.4.2
gunicorn==19.7.1
psycopg2==2.7.3.2
whitenoise==3.3.1